@font-face {
  font-family: "Cabin-Heading";
  src: url("../fonts/Cabin/Cabin.eot");
  src:
    url("../fonts/Cabin/Cabin.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/Cabin/Cabin.woff2") format("woff2"),
    url("../fonts/Cabin/Cabin.woff") format("woff"),
    url("../fonts/Cabin/Cabin.ttf") format("truetype"),
    url("../fonts/Cabin/Cabin.svg#Cabin-Heading") format("svg");
}

@font-face {
  font-family: "Josefin-Heading";
  src: url("../fonts/Josefin/Josefin.eot");
  src:
    url("../fonts/Josefin/Josefin.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/Josefin/Josefin.woff2") format("woff2"),
    url("../fonts/Josefin/Josefin.woff") format("woff"),
    url("../fonts/Josefin/Josefin.ttf") format("truetype"),
    url("../fonts/Josefin/Josefin.svg#Josefin-Heading") format("svg");
}

@font-face {
  font-family: "Catamaran-Content";
  src: url("../fonts/Catamaran/Catamaran.eot");
  src:
    url("../fonts/Catamaran/Catamaran.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/Catamaran/Catamaran.woff") format("woff"),
    url("../fonts/Catamaran/Catamaran.woff2") format("woff2"),
    url("../fonts/Catamaran/Catamaran.ttf") format("truetype"),
    url("../fonts/Catamaran/Catamaran.svg#Catamaran-Content") format("svg");
}

@font-face {
  font-family: "Oswald-Button";
  src: url("../fonts/Oswald/Oswald.eot");
  src:
    url("../fonts/Oswald/Oswald.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/Oswald/Oswald.woff2") format("woff2"),
    url("../fonts/Oswald/Oswald.woff") format("woff"),
    url("../fonts/Oswald/Oswald.ttf") format("truetype"),
    url("../fonts/Oswald/Oswald.svg#Oswald-Heading") format("svg");
}

@font-face {
  font-family: "Teko-Button";
  src: url("../fonts/Teko/Teko.eot");
  src:
    url("../fonts/Teko/Teko.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/Teko/Teko.woff2") format("woff2"),
    url("../fonts/Teko/Teko.woff") format("woff"),
    url("../fonts/Teko/Teko.ttf") format("truetype"),
    url("../fonts/Teko/Teko.svg#Teko-Heading") format("svg");
}
