// CUSTOM IMPORTS
@import 'variables';
@import 'mixins';
@import 'fonts';

// MIXINS

// CUSTOM LAYOUT

// CUSTOM STYLE
#navbar--main {
  .nav--icon {
    color: #fff;
  }

  .button--text {
    font: bold 1.4rem/1.5rem $Oswald;
  }
}

@include slideNavBar(25vh, 20%);

#hero {
  background: url('../img/hero-background.jpg') no-repeat;
  background-size: cover;
  background-position: 70% 50%;

  h1 {
    font: bold 1.7rem/1.8rem $Josefin;
    text-transform: uppercase;
  }

  h2 {
    font: bold 1.2rem/1.4rem $Cabin;
  }

  button {
    height: 45px;
    font: 1.2rem/1.4rem $Oswald;
  }

  #search-keyboard {
    font: 1rem/1.2rem $Cabin;
  }
}

.card {
  border: none;
}

#how-it-works {
  .card {
    height: 50%;
  }

  h3 {
    font: 2rem/2.2rem $Josefin;
  }

  h4 {
    font: bold 1.5rem/1.7rem $Cabin;
  }

  p {
    font: medium 1.1rem/1.2rem $Cabin;
  }
}

footer ul {
  list-style-type: none;
}

// IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';

// RESPONSIVE
@import 'responsive';
