// CUSTOM IMPORTS
@import 'variables';
@import 'mixins';
@import 'fonts';

// MIXINS

// CUSTOM LAYOUT

// CUSTOM STYLE
#navbar--main {
  .nav--icon {
    color: #fff;
  }

  .button--text {
    font: bold 1.4rem/1.5rem $Oswald;
  }
}

@include slideNavBar(25vh, 20%);

#hero {
  background: url('../img/hero-background.jpg') no-repeat;
  background-size: cover;
  background-position: 70% 50%;

  h1 {
    font: bold 1.7rem/1.8rem $Josefin;
    text-transform: uppercase;
  }

  h2 {
    font: bold 1.2rem/1.4rem $Cabin;
  }

  button {
    height: 45px;
    font: 1.2rem/1.4rem $Oswald;
  }

  #search-keyboard {
    font: 1rem/1.2rem $Cabin;
  }
}

.card {
  border: none;
}

#how-it-works {
  .card {
    height: 50%;
  }

  h3 {
    font: 2rem/2.2rem $Josefin;
  }

  h4 {
    font: bold 1.5rem/1.7rem $Cabin;
  }

  p {
    font: 200 1.1rem/1.2rem $Cabin;
  }
}

#highlights {
  h4 {
    font: 400 1.8rem/2.2rem $Cabin;
  }

  p {
    font: 300 1.5rem/1.7rem $Catamaran;
  }
}

footer {
  a:hover {
    text-decoration: none;
  }
}

footer ul {
  list-style-type: none;
}

#location-links {
  font: 300 1rem/1.2rem $Oswald;

  #location-icon {
    border: 2px solid #dee2e6;
  }
}

#subscribe-contact-about {
  h4 {
    font: 400 1.8rem/2.2rem $Cabin;
  }

  p {
    font: 300 1.1rem/1.3rem $Catamaran;
  }

  #contact-email {
    font: 300 1rem/1.2rem $Oswald;
  }

  #subscribe {
    border: 2px solid #dee2e6;
    font: 300 1.1rem/2.5rem $Oswald;
  }
}

#footer-brand {
  font: 400 1.2rem/1.5rem $Cabin;
}

// IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';

// RESPONSIVE
@import 'responsive';
