// CUSTOM IMPORTS
@import 'variables';

// MIXINS

// CUSTOM LAYOUT

// CUSTOM STYLE

.nav--icon {
  color: #fff;
}

button {
  height: 45px;
}

main {
  #hero {
    background: url('../img/hero-background.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.card {
  border: none;
}

// IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';

// RESPONSIVE
@import 'responsive';
