@include media-breakpoint-down(sm) {
  #hero {
    height: 74vh;

    h1 {
      font-size: 0.5em;
      line-height: 0.7em;
    }

    h2 {
      font-size: 0.5em;
      line-height: 0.8em;
    }
  }
}
