@include media-breakpoint-down(sm) {
  #navbar--main {
    height: 25vh;
  }

  main {
    margin-top: 25vh;
  }

  #profile--page {
    #img--profile {
      width: 100px;
      height: 100px;
      top: -55px;
    }
  }
}

@include media-breakpoint-only(md) {
  #nav--logo {
    width: 80px;
  }

  @include slideNavBar(4rem, 12%);

  main {
    margin-top: 4rem;
  }

  #hero {
    height: 30rem;
    background-position: 0% 50%;

    h1 {
      font: bold 2.2rem/2.4rem $Josefin;
    }

    h2 {
      font: 1.5rem/1.7rem $Josefin;
    }
  }

  #profile--page {
    #img--cover {
      height: 350px;
    }

    #profile--name {
      top: 280px;
    }
  }
}

@include media-breakpoint-up(lg) {
  #nav--logo {
    width: 80px;
  }

  @include slideNavBar(3rem, 10%);

  main {
    margin-top: 3rem;
  }

  #hero {
    height: 60vh;
    background-position: 5% 30%;

    h1 {
      font: bold 2.5rem/2rem $Cabin;
    }

    h2 {
      font: 2rem/1.5rem $Josefin;
    }

    #search--wrapper {
      width: 50% !important;
    }
  }

  #profile--page {
    #img--cover {
      height: 400px;
    }

    #profile--name {
      top: 330px;
    }
  }
}

@include media-breakpoint-up(xl) {
  #hero {
    height: 35vh;
    background-position: 5% 10%;
  }
}
