@include media-breakpoint-down(sm) {
  #hero {
    height: 74vh;

    h1 {
      font-size: 1.3em;
      line-height: 1.5em;
    }

    h2 {
      font-size: 1em;
      line-height: 1.2em;
    }
  }
}

@include media-breakpoint-only(md) {
  #hero {
    height: 50vh;
  }
}

@include media-breakpoint-up(lg) {
  .nav--icon-text {
    font-size: 0.8em;
    line-height: 1em;
  }

  #hero {
    height: 60vh;
  }
}

@include media-breakpoint-up(xl) {
  background-position: 100% 40%;
}
