// BOOTSTRAP VARIABLE OVERRIDES
$container-max-widths: (
  sm: 575px,
  md: 768px,
  lg: 1024px,
  xl: 1310px,
);

$theme-colors: (
  "primary": #d4574a,
  "danger": #f61d07,
  "blue": #519bd7,
  "orange": #e17e64,
  "wrapper--white": rgba(206, 201, 201, 0.802)
);

$teal: #98a3a5;
$yellow: #e5ac5e;

// CUSTOM VARIABLES
